﻿
<div class="editRolesWindow" style="overflow-y:auto; overflow-x:hidden">
    <div class="row col-sm-12" style="margin:0 auto; padding-right:35px; margin-top:-28px; position:absolute">
        <div style="float:right;">
            <button type="button" class="btn btn-block btn-lg" ng-click="closeAllPopups();" style="background:none"><i class="glyphicons glyphicons-remove"></i></button>
        </div>
    </div>
    <div class="scrollableContainer300 col-sm-12">
        <div class="floatLeftPanel roleDiv" style="display:flex" ng-repeat="role in Contact.Filters.AllRoles | filter:searchRoles | orderBy:'Name'">
            <span class="form-control availableRole rightRadiusZero ellipsisText" ng-click="advancedSearchAddSelectedRole(role)">
                {{role.Name}}
            </span>
            <span class="form-control leftRadiusZero availableRole plusAddon" ng-click="advancedSearchAddSelectedRole(role)">
                <i class='glyphicons glyphicons-remove'></i>
            </span>
        </div>
    </div>
</div>