﻿
<form ng-submit="submitAdvancedSearch(searchText, Contact.Filters.SelectedRoles, Contact.Filters.SelectedNotifications)" class="container col-sm-12" id="advancedSearchWindow">
    <div style="float:right; margin:-8px -15px">
        <button type="button" class="btn btn-block btn-lg" ng-click="closeAllPopups();" style="background:none; position:relative; z-index:13;"><i class="glyphicons glyphicons-remove"></i></button>
    </div>
    <div class="row" id="RolesRow">
        <div class="col-xs-5">
            <div class="col-sm-12">
                <h4>Filter by roles</h4>
            </div>
            <div class="col-sm-12 well height-300">
                <div class="roleDiv width-200" ng-click="advancedSearchAddSelectedRole(role)" ng-repeat="role in Contact.Filters.AllRoles | orderBy:'Name'">
                    <span class="form-control availableRole ellipsisText rightRadiusZero">
                        {{role.Name}}
                    </span>
                    <span class="form-control leftRadiusZero availableRole plusAddon">
                        <i class='glyphicons glyphicons-plus'></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-1"><span class="glyphicons glyphicons-arrow-right" style="margin-top:125px"></span></div>
        <div class="col-xs-5">
            <div class="col-sm-12">
                <h4>Selected roles</h4>
            </div>
            <div class="col-sm-12 well height-300">
                <div class="roleDiv width-200" ng-click="advancedSearchRemoveSelectedRole(role)" ng-repeat="role in Contact.Filters.SelectedRoles | orderBy:'Name'">
                    <span class="form-control rightRadiusZero selectedRole ellipsisText">
                        {{role.Name}}
                    </span>
                    <span class="form-control leftRadiusZero selectedRole plusAddon">
                        <i class='glyphicons glyphicons-remove'></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11" style="margin-bottom:5px;">
            <h5 class="text-danger" style="float:left;">{{filteredContacts.length}} contacts located</h5>
            <input type="submit" class="btn btn-primary" style="float:right;" value="search" />
            <input type="button" class="btn btn-default" ng-click="initialiseAdvancedSearch(true);" style="float:right;margin-right:10px;" value="clear filters" />
        </div>
    </div>
</form>