﻿
<div class="deleteReportingItem" style="overflow:auto; text-align:center;">
    <div class="row col-sm-12" style="margin:0 auto; padding:0">
        <div style="float:right; margin:-15px -10px">
            <button type="button" class="btn btn-block btn-lg" ng-click="closeAllPopups()" style="background:none"><i class="glyphicons glyphicons-remove"></i></button>
        </div>
    </div>
    <div class="row col-sm-12" style="margin:0">
        <h4>Do you want to delete this contact?</h4>
    </div>
    <div class="row col-sm-12" style="margin:0 0 10px 0">
        <div class="col-xs-6">
            <button type="button" class="btn btn-default col-xs-12 deleteButtons" ng-click="closeAllPopups()">Cancel</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-default col-xs-12 deleteButtons" ng-click="CallDeleteContact(SelectedContact)">Delete</button>
        </div>
    </div>
</div>