﻿
<div class="editRolesWindow" style="overflow-y:auto; overflow-x:hidden">
    <div class="row col-sm-12" style="margin:0 auto; padding-right:35px; margin-top:-28px; position:absolute">
        <div style="float:right;">
            <button type="button" class="btn btn-block btn-lg" ng-click="closeAllPopups();" style="background:none"><i class="glyphicons glyphicons-remove"></i></button>
        </div>
    </div>
    <div class="col-sm-12">
        <div style="display: inline-block;width: 100%;">
            <input type="text" class="form-control ng-pristine ng-valid ng-touched" style="margin-right: 10px;float:right;" placeholder="filter roles here..." ng-model="searchRoles">
        </div>
    </div>
    <div class="scrollableContainer300 col-sm-12">
        <div class="floatLeftPanel roleDiv" style="display:flex" ng-repeat="rr in RemainingRoles | filter:searchRoles | orderBy:'Name'">
            <span class="form-control availableRole rightRadiusZero ellipsisText" ng-click="addSelectedRole(rr)">
                {{rr.Name}}
            </span>
            <span class="form-control leftRadiusZero availableRole plusAddon" ng-click="addSelectedRole(rr)">
                <i class='glyphicons glyphicons-remove'></i>
            </span>
        </div>
    </div>
</div>