﻿

<div class="col-sm-12 ">
    <form class="form-horizontal css-form" ng-submit="CreateReport(Reporting.SelectedReport)" name="frmSelectedReport" >
        <div class="editReportingWindow" style="overflow:auto">
            <div class="row col-sm-12" style="margin:0 auto; padding:0">
                <div style="float:right; margin:-15px">
                    <button type="button" class="btn btn-block btn-lg" ng-click="closeAllPopups();" style="background:none"><i class="glyphicons glyphicons-remove"></i></button>
                </div>
                <label for="reportTypeInput reportTypeInputlabel " ng-show="Reporting.SelectedReport.Id == 0">Report Type: </label>
                <label for="reportTypeInput reportTypeInputlabel " ng-show="Reporting.SelectedReport.Id != 0">{{Reporting.SelectedReport.Name}}</label>
                <select class="form-control" id="reportTypeInput" name="reportTypeInput" ng-required="Reporting.SelectedReport.Id == 0" ng-hide="Reporting.SelectedReport.Id != 0"
                        ng-model="Reporting.SelectedReport.ReportType" ng-change="loadColumns(Reporting.SelectedReport.Id, SelectedContact.CustomerNumber, Reporting.SelectedReport.ReportType)"
                        ng-options="reportType.Id as reportType.Name for reportType in  (filteredTypes = (Reporting.Types | filter:filterTypes))">
                    <option value="">-- choose type --</option>
                </select>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-xs-5">
                    <label for="availableList">Available Columns</label>
                    <div id="availableList">
                        <div style = "padding:3px 5px; cursor: pointer;" ng-repeat="col in Reporting.AvailableColumns" ng-class="{selectedColumn: $index === SelectedAvailableColumnIndex}" ng-click="setSelectedAvailableColumn($index);">
                            <span>{{col.Name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-1" style="padding:30px 0 0 0">
                    <button type="button" class="btn btn-block bottomRadiusZero topButtonAddon" ng-click="insertAllAvailableColumn();"><i class="glyphicons glyphicons-arrow-right"></i></button>
                    <button type="button" style="margin:0" class="btn btn-block topRadiusZero" ng-click="insertAvailableColumn();"><i class="glyphicons glyphicons-chevron-right"></i></button>
                    <button type="button" class="btn btn-block bottomRadiusZero" ng-click="removeAvailableColumn();"><i class="glyphicons glyphicons-chevron-left"></i></button>
                    <button type="button" style="margin:0" class="btn btn-block topRadiusZero bottomButtonAddon" ng-click="removeAllAvailableColumn();"><i class="glyphicons glyphicons-arrow-left"></i></button>
                </div>

                <div class="col-xs-5">
                    <label for="selectedList">Selected Columns</label>
                    <div id="selectedList">
                        <div style = "padding:3px 5px; cursor: pointer;" ng-dblclick="editColumn(col)" ng-repeat="col in Reporting.SelectedColumns" ng-class="{selectedColumn: $index === SelectedSelectedColumnIndex}" ng-click="setSelectedSelectedColumn($index);">
                            <span ng-show="!col.Edit">{{col.Name}}</span>
                            <input id="editableCol{{col.ColumnName}}" class="editBox" type="text" ng-show="col.Edit" ng-model="col.Name" ng-blur="col.Edit = !col.Edit;"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1" style="padding:30px 0 0 0">
                    <button type="button" class="btn btn-block bottomRadiusZero topButtonAddon" ng-click="selectedColumnTop();"><i class="glyphicons glyphicons-arrow-up"></i></button>
                    <button type="button" style="margin:0" class="btn btn-block topRadiusZero" ng-click="selectedColumnUp();scrollSelected(-26);"><i class="glyphicons glyphicons-chevron-up" ></i></button>
                    <button type="button" class="btn btn-block bottomRadiusZero" ng-click="selectedColumnDown();scrollSelected(26);"><i class="glyphicons glyphicons-chevron-down" ></i></button>
                    <button type="button" style="margin:0" class="btn btn-block topRadiusZero bottomButtonAddon" ng-click="selectedColumnBottom();"><i class="glyphicons glyphicons-arrow-down"></i></button>
                </div>
            </div>
            <div style="padding:20px 0 0 0" class="col-md-5">
                <label style="padding:5px 0 0 0" for="formatCheckboxes" class="col-sm-6">Format: </label>
                <ul id="formatCheckboxes" class="col-lg-8" style="padding:0">
                    <li ng-repeat="rf in Reporting.Formats">
                        <input class="margin-top-10" type="radio" value="{{rf.Id}}" ng-model="Reporting.SelectedReport.ReportFormat" name="formatRadio" style="margin:0 3px 0 7px" >{{rf.Name}}
                    </li>
                </ul>
                <div style="clear:both; padding:20px 0 0 0"class="col-lg-12">
                    <label class="col-sm-6" for="includeHeaderCheckbox"  style="padding:0;">Include header:</label>
                    <input type="checkbox" class="checkBox" id="includeHeaderCheckbox" name="includeHeaderCheckbox" ng-model="Reporting.SelectedReport.IncludeHeaders" style="margin-left:5px"/>
                </div>
                <div style="clear:both; padding:20px 0 0 0" class="col-lg-12">
                    <label class="col-sm-6" for="includeHeaderCheckbox" style="padding:0;">Consolidate:</label>
                    <input type="checkbox" class="checkBox" id="consolidateCheckbox" name="consolidateCheckbox" ng-model="Reporting.SelectedReport.Consolidate" style="margin-left:5px" />
                </div>
            </div>
            <div style="padding:20px 0 0 0" class="col-md-7">
                <label for="scheduleCheckboxes" class="col-sm-6 checkboxeslabel">Schedule: </label>
                <ul class="col-lg-8" style="padding:0 0 0 5px">
                    <li>
                        <input ng-model="Reporting.SelectedReport.ReportScheduleFrequency" class="margin-top-10" type="radio" value="1" name="scheduleRadio" style="margin:0 3px 0 7px">
                        Hourly 
                        <span ng-show="Reporting.SelectedReport.ReportScheduleFrequency == 1" style="margin-left:10px">
                            <span>Between: </span> 
                            <input type="number" ng-model="Reporting.SelectedReport.ScheduleStartTime" class="form-control editReportSpinner" min="5" max="19" ng-required ="Reporting.SelectedReport.ReportScheduleFrequency == 1">
                            <span> and </span> 
                            <input type="number" ng-model="Reporting.SelectedReport.ScheduleEndTime" class="form-control editReportSpinner" min="{{Reporting.SelectedReport.ScheduleStartTime}}" max="19" ng-required ="Reporting.SelectedReport.ReportScheduleFrequency == 1">
                        </span>
                    </li>
                    <li>
                        <input ng-model="Reporting.SelectedReport.ReportScheduleFrequency" class="margin-top-10" type="radio" value="2" name="scheduleRadio" style="margin:0 3px 0 7px">
                        Daily 
                        <span ng-show="Reporting.SelectedReport.ReportScheduleFrequency == 2" style="margin-left:10px">
                            Time: <input type="number" ng-model="Reporting.SelectedReport.ExecutionTime" class="form-control editReportSpinner" min="7" max="19" ng-required ="Reporting.SelectedReport.ReportScheduleFrequency == 2">
                        </span>
                    </li>
                    <li>
                        <input ng-model="Reporting.SelectedReport.ReportScheduleFrequency" class="margin-top-10" type="radio" value="3" name="scheduleRadio" style="margin:0 3px 0 7px">
                        Weekly <span style="margin-left:10px" ng-show="Reporting.SelectedReport.ReportScheduleFrequency == 3">
                                    Day:
                                    <select class="form-control" style="height:30px; width:150px; display:inline-block; cursor:default;" ng-required="Reporting.SelectedReport.ReportScheduleFrequency == 3"
                                            ng-model="Reporting.SelectedReport.ExecutionDayOfWeek"
                                            ng-options="day.Id as day.Name for day in Reporting.DaysOfWeek">
                                        <option value="">Select weekday</option>
                                    </select>
                                </span>
                    </li>
                    <li>
                        <input ng-model="Reporting.SelectedReport.ReportScheduleFrequency" class="margin-top-10" type="radio" value="4" name="scheduleRadio" style="margin:0 3px 0 7px">
                        Monthly <div ng-show="Reporting.SelectedReport.ReportScheduleFrequency == 4" style="display:inline-block">
                                 <span style="margin-left:10px;">
                                 Day: <input type="number" ng-model="Reporting.SelectedReport.ExecutionDay" class="form-control editReportSpinner" min="1" max="31" ng-required ="Reporting.SelectedReport.ReportScheduleFrequency == 4">
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="clear:both" class="row col-sm-12">
                <button type="submit" class="btn btn-default btn-lg col-sm-offset-10" style="padding:5px 30px" id="editSubmitButton">Save</button>
            </div>
        </div>
    </form>
</div>