﻿
<div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay">
</div>

<div id="historySection" class="col-sm-12">
    <div id="historyFilters">
        <div class="col-sm-7">
            <div class="row">
                <div class="floatLeftHistoryPanel">
                    <span class="form-control">
                        <input type="checkbox" class="checkBox" ng-click="changeTypeFilter('Comment')" ng-checked="History.Filters.SelectedTypes.indexOf('Comment') > -1" />
                        Comments
                    </span>
                </div>
                <div class="floatLeftHistoryPanel">
                    <span class="form-control">
                        <input type="checkbox" class="checkBox" ng-click="changeTypeFilter('History')" ng-checked="History.Filters.SelectedTypes.indexOf('History') > -1" />
                        History
                    </span>
                </div>
            </div>
            <div class="row">
                <div ng-show="showAdminFilters" class="floatLeftHistoryPanel">
                    <span class="form-control">
                        <input type="checkbox" class="checkBox" ng-click="adminCommentChecked = !adminCommentChecked" ng-checked="adminCommentChecked == true" />
                        Admin Comment
                    </span>
                </div>
                <div class="floatLeftHistoryPanel">
                    <span class="form-control">
                        <input type="checkbox" class="checkBox" ng-click="changeTypeFilter('Contact')" ng-checked="History.Filters.SelectedTypes.indexOf('Contact') > -1" />
                        Contacts
                    </span>
                </div>
                @*<div class="floatLeftHistoryPanel">
                    <span class="form-control">
                        <input type="checkbox" class="checkBox" ng-click="changeTypeFilter('Email')" ng-checked="History.Filters.SelectedTypes.indexOf('Email') > -1" />
                        Emails
                    </span>
                </div>*@
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row margin-top-5">
                <div class="floatRightPanel">
                    <button type="button" class="btn btn-default addButtonStyling" value="add" ng-click="createHistoryItem();" style="padding:0">
                        <span class="glyphicons glyphicons-plus"></span>
                    </button>
                    <div class="addCommentSection" ng-show="showCreateHistory">
                        <div class="col-sm-12" style="margin:0 auto; padding:0; position:absolute;">
                            <div style="float:right; margin:-10px -3px">
                                <button type="button" class="btn btn-block btn-lg" ng-click="showCreateHistory = !showCreateHistory;" style="background:none; position:relative; z-index:13;"><i class="glyphicons glyphicons-remove"></i></button>
                            </div>
                        </div>
                        <form class="col-sm-12 css-form"  ng-submit="AddHistoryItem(History.NewItem)" name="frmHistoryItem">
                            <div class="form-group" style="margin-top:10px">
                                <div class="col-sm-12">
                                    <select id="selectType" class="form-control" ng-model="History.NewItem.HistoryTypeId" required>
                                        <option value="" selected>Select Type</option>
                                        <option value="1">Comment</option>
                                        <option value="2">Contact</option>
                                    </select>
                                    <input type="submit" id="addCommentInsideButton" class="btn btn-primary" value="Add" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <select name="ddlPrimaryRole" class="form-control" required
                                            ng-model="History.NewItem.HistorySubTypeId" ng-options="subtype.Id as subtype.Name for subtype in History.AllSubTypes | filter:filterSubtypes">
                                        <option selected value="">Select Subtype</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="control-label col-md-4">Date</span>
                                <div class="col-sm-12">
                                    <input type="datetime-local" ng-model="History.NewItem.DateCreated" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="control-label col-md-4">Detail</span>
                                <div class="col-sm-12">
                                    <textarea rows="5" ng-model="History.NewItem.Detail" class="form-control" required></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="floatRightPanel">
                    <input type="text" class="form-control" placeholder="search text" ng-model="historySearch" />
                </div>
            </div>
            <div class="row margin-top-5">
                <div class="floatRightPanel">
                    <span class="form-control">
                        <input type="checkbox" class="checkBox" ng-model="History.Filters.IsContactSelected" />
                        Selected Contact Only
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="pnlHistory" class="col-sm-12">
        <div ng-cloak id="historyTable">
            <table class="table">
                <thead>
                    <tr class="tableHeader" style="">
                        <th class="width-15" ng-click="historySortBy('CreatorName')">
                            User
                            <span ng-show="historySortType[0] === 'CreatorName' && historyReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="historySortType[0] === 'CreatorName' && historyReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="historySortType[0] !== 'CreatorName'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th class="width-15" ng-click="historySortBy('ContactName')">
                            Contact
                            <span ng-show="historySortType[0] === 'ContactName' && historyReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="historySortType[0] === 'ContactName' && historyReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="historySortType[0] !== 'ContactName'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th class="width-12" ng-click="historySortBy('DateCreated')">
                            Date
                            <span ng-show="historySortType[0] === 'DateCreated' && historyReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="historySortType[0] === 'DateCreated' && historyReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="historySortType[0] !== 'DateCreated'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th class="width-12" ng-click="historySortBy('TypeName')">
                            Type
                            <span ng-show="historySortType[0] === 'TypeName' && historyReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="historySortType[0] === 'TypeName' && historyReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="historySortType[0] !== 'TypeName'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th class="width-15" ng-click="historySortBy('SubTypeName')">
                            Subtype
                            <span ng-show="historySortType[0] === 'SubTypeName' && historyReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="historySortType[0] === 'SubTypeName' && historyReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="historySortType[0] !== 'SubTypeName'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th class="width-27" ng-click="historySortBy('Detail')">
                            Detail
                            <span ng-show="historySortType[0] === 'Detail' && historyReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="historySortType[0] === 'Detail' && historyReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="historySortType[0] !== 'Detail'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                    </tr>
                </thead>
                <tbody style="height:227px" class="scrollbar-style">
                    <tr ng-repeat="h in History.Items | filter:historySearch | filter:historyFilterFunction | orderBy:historySortType:historyReverse">
                        <td class="width-15">{{h.CreatorName}}</td>
                        <td class="width-15">{{h.ContactName}}</td>
                        <td class="width-12"><span>{{h.DateCreated | date : 'MM/dd/yyyy h:mma' }}</span></td>
                        <td class="width-12">{{h.TypeName}}</td>
                        <td class="width-15">{{h.SubTypeName}}</td>
                        <td class="width-27">{{h.Detail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
