﻿@using Newton.Web.Security

<div class="section" id="section1">
    <div class="col-sm-4" id="roleContainer" style="padding-left:0px;max-width:330px">
        <button id="btnAddRoles" type="button" class="btn btn-default col-sm-2" ng-disabled="filteredContacts[getIndex(filteredContacts, SelectedContact)].SystemContact == true" ng-click="showAddRoles = !showAddRoles;showOverlay=!showOverlay;" style="padding:0">
            <span class="glyphicons glyphicons-plus"></span>
        </button>
        <div class="col-sm-10" style="padding-right:10px">
            <div class="floatLeftPanel roleDiv" style="display:flex" ng-repeat="cr in SelectedRoles | orderBy:'Name'">
                <span class="form-control rightRadiusZero selectedRole ellipsisText" ng-click="removeSelectedRole(cr)">
                    {{cr.Name}}
                </span>
                <span class="form-control leftRadiusZero selectedRole plusAddon" ng-click="removeSelectedRole(cr)">
                    <i class='glyphicons glyphicons-remove'></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <form class="form-horizontal css-form" ng-submit="UpdateContactDetails(SelectedContact)" name="frmContactDetails">
            <div class="form-group">
                <span class="control-label col-sm-5">Name</span>
                <div class="col-sm-7">
                    <input type="text" ng-model="SelectedContact.FirstName" class="form-control" style="float:left;" />
                    <button ng-click="clearUser()" type="button" class="btn btn-info addButtonStyling" style="float:left;">
                        <span style="margin-left:-5px" ng-class="showAddButton ? 'glyphicons glyphicons-closed biggerFontSize' : 'glyphicons glyphicons-user-add biggerFontSize'"></span>
                    </button>
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Surname</span>
                <div class="col-sm-7">
                    <input type="text" ng-model="SelectedContact.LastName" class="form-control" />
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Email</span>
                <div class="col-sm-7">
                    <input type="email" ng-model="SelectedContact.Email" class="form-control" ng-required="SelectedContact.Id != null || showAddButton" />
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Alternative Email</span>
                <div class="col-sm-7">
                    <input type="email" ng-model="SelectedContact.AlternativeEmail" class="form-control" />
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Phone</span>
                <div class="col-sm-7">
                    <input type="tel" ng-model="SelectedContact.Phone" class="form-control" />
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Mobile</span>
                <div class="col-sm-7">
                    <input type="tel" ng-model="SelectedContact.Mobile" class="form-control" />
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Region</span>
                <div class="col-sm-7">
                    <select name="ddlPrimaryRole" class="form-control primaryRoleSelect"
                            ng-model="SelectedContact.RegionId" ng-options="r.Id as r.Name for r in RegionList">
                        <option selected value="">Select region</option>
                    </select>
                </div>
            </div>
            <div class="form-group margin-top--9px">
                <span class="control-label col-sm-5">Country</span>
                <div class="col-sm-7">
                    <select name="ddlPrimaryRole" class="form-control primaryRoleSelect"
                            ng-model="SelectedContact.CountryId" ng-options="c.Id as c.Name for c in CountryList">
                        <option selected value="">Select country</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12 margin-top--9px">
                <span class="control-label col-sm-5"></span>
                <div class="col-sm-7">
                    <div class="col-sm-11">
                        <input type="submit" value="Add" class="btn btn-primary" ng-show="showAddButton" />
                        <input type="submit" value="Update" class="btn btn-primary" ng-show="!showAddButton" ng-disabled="SelectedContact.Id == null" />
                        <input type="button" value="Delete" class="btn btn-danger" ng-show="!showAddButton" ng-disabled="SelectedContact.Id == null" ng-click="confirmContactDeletion(SelectedContact)" />
                    </div>
                </div>
            </div>
            <div id="deleteScreenPopup" ng-show="showContactDeletePopup">
                <div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay"></div>
                @Html.Partial("~/Views/Contacts/Popups/_ContactDelete.cshtml")
            </div>
        </form>
    </div>
</div>

