﻿@using Newton.Web.Security

<div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay">
</div>
@*(User as NewtonPrincipal).IsAdmin()*@
@if (true)
{
    <div class="section" id="section1">
        <div class="form-group">
            <span class="control-label customerspecificRows">Apple Reseller ID</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.AppleResellerId" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label customerspecificRows">Apple DEP ID</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.AppleDEPId" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label customerspecificRows">Microsoft MPN ID</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.MicrosoftMPNId" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label customerspecificRows">Parent</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.Parent" class="form-control" disabled/>
            </div>
        </div>
        <input type="button" value="Update" ng-click="UpdateCustomerSpecific(SelectedCustomer)" class="btn btn-primary" id="btnCustomerInfo" />
    </div>
}
else
{
    <div class="section" id="section1">
        <div class="form-group">
            <span class="control-label customerspecificRows">Apple Reseller ID</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.AppleResellerId" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label customerspecificRows">Apple DEP ID</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.AppleDEPId" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label customerspecificRows">Microsoft MPN ID</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.MicrosoftMPNId" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label customerspecificRows">Parent</span>
            <div class="col-sm-12 customerspecificInputs">
                <input type="text" ng-model="SelectedCustomer.Parent" class="form-control" disabled/>
            </div>
        </div>
        <input type="button" value="Update" ng-click="UpdateCustomerSpecific(SelectedCustomer)" class="btn btn-primary" id="btnCustomerInfo" />
    </div>
}
