﻿
<div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay">
</div>

<div class="section" id="section1">
    <div class="col-xs-6 col-sm-3" style="background-color:#dfe3ee; padding:7px" id="Login-0">
        <h4>MWH Web</h4>
        <span class="CurrentStatus"></span>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Suspend" value="Suspend" disabled/>
            <input type="button" class="btn btn-default margin-top-10 Activate" value="Activate" style="display:none" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Create" value="Create" />
            <input type="button" class="btn btn-default margin-top-10 Delete" value="Delete" style="display:none" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Reset" value="Reset password" disabled />
        </div>
    </div>
    <div class="col-xs-6 col-sm-3" style="padding:7px" id="Login-1">
        <h4>CSP Euro</h4>
        <span class="CurrentStatus"></span>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Suspend" value="Suspend" disabled ng-click="SuspendAccount(0)"/>
            <input type="button" class="btn btn-default margin-top-10 Activate" value="Activate" style="display:none" ng-click="ActivateAccount(0)" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Create" value="Create" ng-click="CreateAccount(0)" />
            <input type="button" class="btn btn-default margin-top-10 Delete" value="Delete" style="display:none" ng-click="DeleteAccount(0)"/>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Reset" value="Reset password" disabled ng-click="ResetPassword(0)"/>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3" style="background-color:#dfe3ee; padding:7px" id="Login-2">
        <h4>CSP Sterling</h4>
        <span class="CurrentStatus"></span>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Suspend" value="Suspend" disabled ng-click="SuspendAccount(1)"/>
            <input type="button" class="btn btn-default margin-top-10 Activate" value="Activate" style="display:none" ng-click="ActivateAccount(1)" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Create" value="Create" ng-click="CreateAccount(1)"/>
            <input type="button" class="btn btn-default margin-top-10 Delete" value="Delete" style="display:none" ng-click="DeleteAccount(1)"/>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Reset" value="Reset password" disabled ng-click="ResetPassword(1)"/>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3" style="padding:7px" id="Login-3">
        <h4>AppleCare</h4>
        <span class="CurrentStatus"></span>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Suspend" value="Suspend" disabled />
            <input type="button" class="btn btn-default margin-top-10 Activate" value="Activate" style="display:none"/>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Create" value="Create" />
            <input type="button" class="btn btn-default margin-top-10 Delete" value="Delete" style="display:none" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default margin-top-10 Reset" value="Reset password" disabled />
        </div>
    </div>
</div>