﻿@using Newton.Web.Security

<div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay">
</div>

<div id="notificationsDiv">
    <div class="col-sm-8" id="section1">
        <div class="row">
            <div class="col-sm-6" style="max-width:355px">
                <h4 style="font-size:115%">Order Confirmations</h4>
                <div class="form-group">
                    <span class="control-label col-sm-9">Appear in list</span>
                    <input type="checkbox" class="checkBox" ng-model="SelectedContact.AppearInListOrderConfirmations" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group">
                    <span class="control-label col-sm-9">First in list</span>
                    <input type="checkbox" class="checkBox" ng-model="SelectedContact.FirstInListOrderConfirmations" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group">
                    <span class="control-label col-sm-9">Receive all</span>
                    <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveAllOrderConfirmations" ng-true-value="true" ng-false-value="false" />
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Logistics</h4>
                <div class="form-group">
                    <span class="control-label col-sm-11">Receive ship confirms</span>
                    <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveShipConfirmations" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group">
                    <span class="control-label col-sm-11">Receive all ship confirms</span>
                    <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveAllShipConfirmations" ng-true-value="true" ng-false-value="false" />
                </div>
            </div>
        </div>
        <div class="row col-sm-12" id="notificationsMarketing">
            <h4>Marketing</h4>
            <div class="form-group" style="margin-top:-15px">
                <br />
                <span class="control-label col-sm-3">Opt out</span>
                <div class="col-sm-9">
                    <input type="radio" name="q1" ng-value="true" ng-model="SelectedContact.OptOutMarketing">Yes
                    <input type="radio" name="q1" ng-value="false" ng-model="SelectedContact.OptOutMarketing">No
                    <input type="radio" name="q1" ng-value="null" ng-model="SelectedContact.OptOutMarketing">Not asked
                </div>
            </div>
            <div class="form-group">
                <br />
                <span class="control-label col-sm-3">Specials</span>
                <div class="col-sm-9">
                    <input type="radio" name="q2" ng-value="true" ng-model="SelectedContact.ReceiveSpecials">Yes
                    <input type="radio" name="q2" ng-value="false" ng-model="SelectedContact.ReceiveSpecials">No
                    <input type="radio" name="q2" ng-value="null" ng-model="SelectedContact.ReceiveSpecials">Not asked
                </div>
            </div>
            <div class="form-group">
                <br />
                <span class="control-label col-sm-3">Newsletters</span>
                <div class="col-sm-9">
                    <input type="radio" name="q3" ng-value="true" ng-model="SelectedContact.ReceiveNewsletters">Yes
                    <input type="radio" name="q3" ng-value="false" ng-model="SelectedContact.ReceiveNewsletters">No
                    <input type="radio" name="q3" ng-value="null" ng-model="SelectedContact.ReceiveNewsletters">Not asked
                </div>
            </div>
            <div class="form-group">
                <br />
                <span class="control-label col-sm-3">Training</span>
                <div class="col-sm-9">
                    <input type="radio" name="q4" ng-value="true" ng-model="SelectedContact.ReceiveTraining">Yes
                    <input type="radio" name="q4" ng-value="false" ng-model="SelectedContact.ReceiveTraining">No
                    <input type="radio" name="q4" ng-value="null" ng-model="SelectedContact.ReceiveTraining">Not asked
                </div>
            </div>
        </div>
    </div>
    @*(User as WaterSkiPrincipal).IsAdmin()*@
    @if (true)
    {
        <div class="col-sm-4" id="section2">
            <h4>Accounts</h4>
            <div class="form-group">
                <span class="control-label col-sm-11">Receive own invoices</span>
                <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveOwnInvoices" ng-true-value="true" ng-false-value="false" ng-change="checkForInvoicesOptions();" />
            </div>
            <div class="form-group">
                <span class="control-label col-sm-11">Receive all invoices</span>
                <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveAllInvoices" ng-true-value="true" ng-false-value="false" ng-change="checkForInvoicesOptions();" />
            </div>
            <div id="accountsInvoicesTypes" style="margin-left: 15px" ng-show="showAccountsInvoicesOptions">
                <span>Invoice Formats</span>
                <div class="form-group margin-bottom-5">
                    <span class="control-label col-sm-11">PDF</span>
                    <input type="checkbox" class="checkBox" style="margin-left:-1px" ng-model="SelectedContact.PDF" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group margin-bottom-5">
                    <span class="control-label col-sm-11">XML</span>
                    <input type="checkbox" class="checkBox" style="margin-left:-1px" ng-model="SelectedContact.XML" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group margin-bottom-5">
                    <span class="control-label col-sm-11">CSV</span>
                    <input type="checkbox" class="checkBox" style="margin-left:-1px" ng-model="SelectedContact.CSV" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group margin-bottom-5">
                    <span class="control-label col-sm-11">CSP - Summary</span>
                    <input type="checkbox" class="checkBox" style="margin-left:-1px" ng-model="SelectedContact.CSPSummary" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group margin-bottom-5">
                    <span class="control-label col-sm-11">CSP - Detail</span>
                    <input type="checkbox" class="checkBox" style="margin-left:-1px" ng-model="SelectedContact.CSPDetail" ng-true-value="true" ng-false-value="false" />
                </div>
                <div class="form-group">
                    <span class="control-label col-sm-11">CSP - Raw</span>
                    <input type="checkbox" class="checkBox" style="margin-left:-1px" ng-model="SelectedContact.CSPRaw" ng-true-value="true" ng-false-value="false" />
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-11">Receive statements</span>
                <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveStatements" ng-true-value="true" ng-false-value="false" />
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-4" id="section2">
            <h4>Accounts</h4>
            <div class="form-group">
                <span class="control-label col-sm-11">Receive own invoices</span>
                <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveOwnInvoices" ng-true-value="true" ng-false-value="false" disabled />
            </div>
            <div class="form-group">
                <span class="control-label col-sm-11">Receive all invoices</span>
                <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveAllInvoices" ng-true-value="true" ng-false-value="false" disabled />
            </div>
            <div class="form-group">
                <span class="control-label col-sm-11">Receive statements</span>
                <input type="checkbox" class="checkBox" ng-model="SelectedContact.ReceiveStatements" ng-true-value="true" ng-false-value="false" disabled />
            </div>
        </div>
    }
    <br />
    <div class="form-group col-sm-12" id="notificationsFooter">
        <span class="control-label" style="text-align:right"></span>
        <input type="button" value="Update" style="float:right;" ng-click="UpdateNotifications(SelectedContact)" class="btn btn-primary" />
    </div>
</div>