﻿
<div id="reportingSection" class="col-md-12" style="padding:0;">
    <div class="form-group" id="reportingMenu" style="width:100%;height:auto;margin:0">
        <div class="row form-group col-xs-12 input-group " style="padding-right: 0; padding-top:2px;margin-bottom:10px">
            <button type="button" class="btn btn-default addButtonStyling" ng-disabled="filteredTypes.length == 0" ng-click="editReportingItem({})"><span class="glyphicons glyphicons-plus"></span></button>
            <input type="text" class="form-control" style="float:right" ng-model="reportingSearch" />
        </div>
    </div>
    <div id="pnlReporting" class="col-md-12" style="height:358px; padding:0">
        <div ng-cloak id="reportingTable">
            <table class="table">
                <thead>
                    <tr class="tableHeader">
                        <th ng-click="reportingSortBy('Name')" id="checkmarkIcon" style="width:25%">
                            Report Name
                            <span ng-show="reportingSortType === 'Name' && reportingReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="reportingSortType === 'Name' && reportingReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="reportingSortType !== 'Name'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th ng-click="reportingSortBy('Schedule')" style="width:25%">
                            Schedule
                            <span ng-show="reportingSortType === 'Schedule' && reportingReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="reportingSortType === 'Schedule' && reportingReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="reportingSortType !== 'Schedule'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th ng-click="reportingSortBy('IsSubscribed')" style="width:22%">
                            Receives it?
                            <span ng-show="reportingSortType === 'IsSubscribed' && reportingReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                            <span ng-show="reportingSortType === 'IsSubscribed' && reportingReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                            <span ng-show="reportingSortType !== 'IsSubscribed'" class="glyphicons glyphicons-chevron-right"></span>
                        </th>
                        <th style="width:14%"></th>
                        <th style="width:14%"></th>
                    </tr>
                </thead>
                <tbody style="height:270px" class="scrollbar-style">
                    <tr ng-repeat="r in Reporting.Items | filter:reportingSearch | orderBy:reportingSortType:reportingReverse">
                        <td style="width:25%">{{r.Name}}</td>
                        <td style="width:25%">{{r.ReportScheduleFrequencyName}}</td>
                        <td style="width:22%">
                            <span style="padding:0 0 0 10px;cursor:pointer;" class="glyphicons" ng-click="subscribeReport(r)" ng-class="r.IsSubscribed ? 'glyphicons-ok blueText' : 'glyphicons-remove lightblueText'"></span>
                        </td>
                        <td style="width:14%;"><button type="button" class="btn btn-default" style="padding:0 8px" ng-click="editReportingItem(r)">Edit</button></td>
                        <td style="width:14%;"><button type="button" class="btn btn-default" style="padding:0 8px" ng-click="confirmReportDeletion(r)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>