﻿<div class="ng-scope" ng-app="ngNewton" ng-controller="ngNewtonCtrl">

    <div class="row form-group col-sm-12">
        <button type="button" class="btn btn-default" style="float:right;height:34px;width:34px;align-content:center;padding:0" onclick="location.href = './HistorySubTypes/Create';"><span class="glyphicons glyphicons-plus"></span></button>
        <input type="text" class="form-control" style="float:right; margin-right:10px" ng-model="searchText" />
    </div>

    <span us-spinner="{radius:30, width:8, length: 16}"></span>

    <div ng-cloak id="historySubTypesAdminTable">
        <table class="table">
            <thead>
                <tr class="tableHeader">
                    <th ng-click="sortBy('Name')" style="width:30%">
                        SubType Name
                        <span ng-show="sortType[0] === 'Name' && sortReverse == true" class="glyphicons glyphicons-chevron-up"></span>
                        <span ng-show="sortType[0] === 'Name' && sortReverse == false" class="glyphicons glyphicons-chevron-down"></span>
                        <span ng-show="sortType[0] !== 'Name'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                    <th ng-click="sortBy('HistoryTypeName')" style="width:30%">
                        History Type Name
                        <span ng-show="sortType[0] === 'HistoryTypeName' && sortReverse == true" class="glyphicons glyphicons-chevron-up"></span>
                        <span ng-show="sortType[0] === 'HistoryTypeName' && sortReverse == false" class="glyphicons glyphicons-chevron-down"></span>
                        <span ng-show="sortType[0]!== 'HistoryTypeName'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                </tr>
            </thead>
            <tbody style="height:300px; overflow-y:auto">
                <tr ng-repeat="hst in HistorySubTypeList | filter:searchText | orderBy:sortType:sortReverse" ng-class="tableRow">
                    <td style="width:30%">{{hst.Name}}</td>
                    <td style="width:30%">{{hst.HistoryTypeName}}</td>
                    <td><a ng-href="/historysubtypes/Edit/{{hst.Id}}">Edit</a></td>
                    @*<td><a ng-href="#" ng-click="delete(hst.Id)" confirmation-needed>Delete</a></td>*@
                    <td><a ng-href="#" ng-click="confirmHistorySubTypeDeletion(hst)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="deleteScreenPopup" ng-show="showDeleteScreen">
        <div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay"></div>

        @Html.Partial("~/Views/Contacts/Popups/_HistorySubTypeDelete.cshtml")
    </div>
</div>

@section addToHead {
    <link href="~/Content/Home/BasicStyles.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Home/Admin/HistorySubTypes.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/ngTools/angular.js"></script>

    <script src="~/Scripts/PageSpecific/HistorySubTypes/AngularApp.js"></script>
}