﻿@model Newton.Web.ViewModels.CreateContactViewModel

<div class="createWizardContainer">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-12 ">
            <div class="createWizardWindow">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row col-sm-12" style="margin:0 auto; padding-right:35px; margin-top:-28px; position:absolute">
                    <div style="float:right;">
                        <button type="button" class="btn btn-block btn-lg" onclick="location.href = '../';" style="background:none"><i class="glyphicons glyphicons-remove"></i></button>
                    </div>
                </div>
                @*General Info Screen*@
                <div class="col-sm-12" id="generalInfoForm">
                    <div class="form-group form-group-sm">
                        @Html.LabelFor(model => model.Customers, "Customer:", htmlAttributes: new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.DropDownListFor(model => model.CustomerNumber, Model.Customers, "Select customer", htmlAttributes: new { @class = "form-control ", @id = "customersDropDownList" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsSystemContact, "System contact:", htmlAttributes: new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.CheckBoxFor(model => model.IsSystemContact, htmlAttributes: new { @class = "margin-top-10", @id = "systemContactCheckbox" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, "Name:", htmlAttributes: new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7 danger">
                            @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control ", @id = "nameTextBox" })
                        </div>
                    </div>
                    <div class="form-group contactOnly">
                        @Html.LabelFor(model => model.LastName, "Last name:", htmlAttributes: new { @class = "control-label col-sm-5  " })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @id = "lastNameTextBox" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email address:", htmlAttributes: new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @id = "emailAdressTextBox" })
                        </div>
                    </div>
                    <div class="form-group contactOnly">
                        @Html.LabelFor(model => model.EmailAlternative, "Alternative email address:", htmlAttributes: new { @class = "control-label col-sm-5 " })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.EmailAlternative, htmlAttributes: new { @class = "form-control", @id = "altEmailAdressTextBox" })
                        </div>
                    </div>
                    <div class="form-group contactOnly">
                        @Html.LabelFor(model => model.Phone, "Phone:", htmlAttributes: new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control", @id = "phoneTextBox" })
                        </div>
                    </div>
                    <div class="form-group contactOnly">
                        @Html.LabelFor(model => model.Mobile, "Mobile:", htmlAttributes: new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Mobile, htmlAttributes: new { @class = "form-control", @id = "mobileTextBox" })
                        </div>
                    </div>
                    <div class="form-group contactOnly">
                        <div class="col-sm-offset-5 col-sm-7">
                            <input id="basicInfoNext" type="button" value="Next" class="btn btn-default" onclick="rolesCheck()" />
                        </div>
                    </div>
                    <div class="form-group systemOnly" id="basicInfoSystemNextContainer" style="display:none">
                        <div class="col-sm-offset-5 col-sm-7">
                            <input id="basicInfoSystemNext" type="button" value="Next" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="alert alert-danger col-sm-offset-4 margin-top-10" id="errorMessageDiv" style="display:none">
                    </div>
                </div>

                @*Roles Screen*@

                <div class="col-sm-12" id="rolesForm" style="display:none">
                    <div class="col-sm-10" style="margin-left:-15px">
                        <span class="control-label col-xs-6" style="text-align:right; padding-right:30px"><strong>Role</strong></span>
                        <span class="control-label col-xs-3" style="text-align:center; padding-right:30px"><strong>Select</strong></span>
                        <span class="control-label col-xs-3" style="text-align:center; padding-right:30px"><strong>Primary</strong></span>
                    </div>
                    <br />
                    <hr style="margin-bottom:2px"/>
                    <div id="rolesTable" style="height:300px;overflow-y:scroll">
                        @*@foreach (var role in Model.Roles)
                        {
                            <div class="form-group col-sm-10" style="margin-bottom:7px">
                                <span class="control-label col-xs-6">@role.Name</span>
                                <input class="col-xs-3 margin-top-10 selectedCheckbox" value="@role.Id" name="selectedChks" type="checkbox" />
                                <input class="col-xs-3 margin-top-10 primaryCheckbox" value="@role.Id" name="PrimaryRoleId" type="checkbox" />
                            </div>
                            <hr class="col-sm-10" style="margin-top:2px;margin-bottom:2px;clear:both"/>
                        }*@
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-7">
                            <input id="rolesBack" type="button" value="Back" class="btn btn-default" />
                            <input id="rolesNext" type="button" value="Next" class="btn btn-default" />
                        </div>
                    </div>
                </div>

                @*Notifications Screen*@
                <div class="col-sm-12" id="notificationsForm" style="display:none; ">
                    <div class="col-sm-12">
                        <div id="OrderConfirmationNotifications" class="col-sm-5">
                            <h4 align="center" style="padding-top:15px">Order Confirmations</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.AppearInListOrderConfirmations, "Appear in list", htmlAttributes: new { @class = "control-label col-sm-10" })
                                <div class="col-sm-2" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.AppearInListOrderConfirmations, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstInListOrderConfirmations, "First in list", htmlAttributes: new { @class = "control-label col-sm-10" })
                                <div class="col-sm-2" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.FirstInListOrderConfirmations, new { htmlAttributes = new { @class = "form-control margin-top-10" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveAllOrderConfirmations, "Receive all order confirmations", htmlAttributes: new { @class = "control-label col-sm-10" })
                                <div class="col-sm-2" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.ReceiveAllOrderConfirmations, new { htmlAttributes = new { @class = "form-control margin-top-10" } })
                                </div>
                            </div>
                        </div>

                        <div id="AccountsNotifications" class="col-sm-7" style="padding-bottom:20px">
                            <h4 align="center" style="padding-top:15px">Accounts</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveOwnInvoices, "Receive own invoices", htmlAttributes: new { @class = "control-label col-sm-7" })
                                <div class="col-sm-5" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.ReceiveOwnInvoices, new { htmlAttributes = new { @class = "form-control margin-top-10" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveAllInvoices, "Receive all invoices", htmlAttributes: new { @class = "control-label col-sm-7" })
                                <div class="col-sm-5" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.ReceiveAllInvoices, new { htmlAttributes = new { @class = "form-control margin-top-10" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveStatements, "Receive statements", htmlAttributes: new { @class = "control-label col-sm-7" })
                                <div class="col-sm-5" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.ReceiveStatements, new { htmlAttributes = new { @class = "form-control margin-top-10" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div id="LogisticsNotifications" class="col-sm-5">
                            <h4 align="center" style="padding-top:15px">Logistics</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveShipConfirmations, "Receive ship confirmations", htmlAttributes: new { @class = "control-label col-sm-10" })
                                <div class="col-sm-2" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.ReceiveShipConfirmations, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveAllShipConfirmations, "Receive all ship confirmations", htmlAttributes: new { @class = "control-label col-sm-10" })
                                <div class="col-sm-2" style="margin-top:7px">
                                    @Html.CheckBoxFor(model => model.ReceiveAllShipConfirmations, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div id="MarketingNotifications" class="col-sm-7">
                            <h4 align="center" style="padding-top:15px">Marketing</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.OptOutMarketing, "Opt Out", htmlAttributes: new { @class = "control-label col-sm-4" })
                                <input class="margin-top-10" type="radio" name="OptOutMarketing" value="true" style="margin:0 3px 0 7px">Yes
                                <input class="margin-top-10" type="radio" name="OptOutMarketing" value="false" style="margin:0 3px 0 7px">No
                                <input class="margin-top-10" type="radio" name="OptOutMarketing" value="null" style="margin:0 3px 0 7px">Not asked
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveSpecials, "Specials", htmlAttributes: new { @class = "control-label col-sm-4" })
                                <input class="margin-top-10" type="radio" name="ReceiveSpecials" value="true" style="margin:0 3px 0 7px">Yes
                                <input class="margin-top-10" type="radio" name="ReceiveSpecials" value="false" style="margin:0 3px 0 7px">No
                                <input class="margin-top-10" type="radio" name="ReceiveSpecials" value="null" style="margin:0 3px 0 7px">Not asked
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveNewsletters, "Newsletters", htmlAttributes: new { @class = "control-label col-sm-4" })
                                <input class="margin-top-10" type="radio" name="ReceiveNewsletters" value="true" style="margin:0 3px 0 7px">Yes
                                <input class="margin-top-10" type="radio" name="ReceiveNewsletters" value="false" style="margin:0 3px 0 7px">No
                                <input class="margin-top-10" type="radio" name="ReceiveNewsletters" value="null" style="margin:0 3px 0 7px">Not asked
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiveTraining, "Training", htmlAttributes: new { @class = "control-label col-sm-4" })
                                <input class="margin-top-10" type="radio" name="ReceiveTraining" value="true" style="margin:0 3px 0 7px">Yes
                                <input class="margin-top-10" type="radio" name="ReceiveTraining" value="false" style="margin:0 3px 0 7px">No
                                <input class="margin-top-10" type="radio" name="ReceiveTraining" value="null" style="margin:0 3px 0 7px">Not asked
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-7">
                            <input id="notificationsBack" type="button" value="Back" class="btn btn-default contactOnly" />
                            <input id="notificationsSystemBack" type="button" value="Back" class="btn btn-default" style="display:none" />
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/PageSpecific/Contacts/ContactCreateValidation.js"></script>
<link href="~/Content/accordion.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Home/CreateContactWizard.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Home/BasicStyles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function rolesCheck() {
        var customer = $("#customersDropDownList").val();
        $.ajax({
            url: "/api/contactapi/getremainingroles/" + customer,
            method: "GET",
            content: "application/JSON",
            success: function(data) {
                $('#rolesTable').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#rolesTable').append('<div class="form-group col-sm-10" style="margin-bottom:7px">\
                                                   <span class="control-label col-xs-6">' + data[i].Name + '</span>\
                                                   <input class="col-xs-3 margin-top-10 selectedCheckbox" value="' + data[i].Id + '" name="selectedChks"  type="checkbox" />\
                                                   <input class="col-xs-3 margin-top-10 primaryCheckbox" value="' + data[i].Id + '" name="PrimaryRoleId"  type="checkbox" />\
                                             </div>');
                }
            }
        })
    }
    //Primary checkbox disable/enable
    //function RoleCheck(checkbox) {
    //    $('.selectedCheckbox').find(checkbox);
    //    debugger;
    //}
    //function PrimaryRoleCheck(checkbox) {
    //    debugger;
    //}

</script>
