﻿
@Html.Partial("_CurrentUser")


<div id="indexHeader" ng-app="ngNewton" ng-controller="ngNewtonCtrl">

    <div class="absoluteOverlay" ng-class="screenLoaded != true ? 'absoluteOverlay' : 'hideAbsoluteOverlay'">

    </div>

    <form class="css-form row form-group col-sm-12" name="frmSearchContacts" style="padding-right: 0;margin-bottom:10px;">
        <button type="button" class="btn btn-info addButtonStyling" ng-click="GenerateReport()">
            <span style="margin-left:-3px" class="glyphicons glyphicons-list-alt biggerFontSize"></span>
        </button>
        <button type="button" class="btn addButtonStyling" ng-click="initialiseAdvancedSearch()"
                                   ng-class="{'btn-info': Contact.Filters.AdvancedSearchUsed == null,
                                              'btn-success': Contact.Filters.AdvancedSearchUsed,
                                              'btn-warning': !Contact.Filters.AdvancedSearchUsed}">
            <span style="margin-left:-5px" class="glyphicons glyphicons-filter biggerFontSize"></span>
        </button>
        <input type="text" id="searchField" class="form-control" ng-class="Contact.Filters.AdvancedSearchUsed == null && (searchText.length < 2 || filteredContacts[0] == undefined) ? 'ng-dirty ng-invalid' : ''" placeholder="search..." ng-model="searchText" ng-model-options="{ debounce: 500 }" autofocus />
    </form>

    <span us-spinner="{radius:10, width:4, length: 10}"></span>

    <div ng-cloak id="mainContactTable">
        <table class="table">
            <thead>
                <tr class="tableHeader" style="margin-right:5px">
                    <th ng-click="sortBy('FullName')">
                        Contact Name
                        <span ng-show="sortType[0] === 'FullName' && sortReverse == true" class="glyphicons glyphicons-chevron-down"></span>
                        <span ng-show="sortType[0] === 'FullName' && sortReverse == false" class="glyphicons glyphicons-chevron-up"></span>
                        <span ng-show="sortType[0] !== 'FullName'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                    <th ng-click="sortBy('Email')">
                        Email
                        <span ng-show="sortType[0] === 'Email' && sortReverse == true" class="glyphicons glyphicons-chevron-down" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] === 'Email' && sortReverse == false" class="glyphicons glyphicons-chevron-up" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] !== 'Email'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                    <th class="width-15" ng-click="sortBy('Phone')">
                        Phone
                        <span ng-show="sortType[0] === 'Phone' && sortReverse == true" class="glyphicons glyphicons-chevron-down" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] === 'Phone' && sortReverse == false" class="glyphicons glyphicons-chevron-up" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] !== 'Phone'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                    <th class="width-15" ng-click="sortBy('Mobile')">
                        Mobile
                        <span ng-show="sortType[0] === 'Mobile' && sortReverse == true" class="glyphicons glyphicons-chevron-down" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] === 'Mobile' && sortReverse == false" class="glyphicons glyphicons-chevron-up" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] !== 'Mobile'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                    <th class="width-15" ng-click="sortBy('Region')">
                        Region
                        <span ng-show="sortType[0] === 'Region' && sortReverse == true" class="glyphicons glyphicons-chevron-down" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] === 'Region' && sortReverse == false" class="glyphicons glyphicons-chevron-up" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] !== 'Region'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                    <th class="width-15" ng-click="sortBy('Country')">
                        Country
                        <span ng-show="sortType[0] === 'Country' && sortReverse == true" class="glyphicons glyphicons-chevron-down" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] === 'Country' && sortReverse == false" class="glyphicons glyphicons-chevron-up" ng-class="{'glyphicons glyphicons-chevron-up':reverse}"></span>
                        <span ng-show="sortType[0] !== 'Country'" class="glyphicons glyphicons-chevron-right"></span>
                    </th>
                </tr>
            </thead>
            <tbody class="scrollbar-style">
                <tr class="tableRow" ng-repeat="c in (filteredContacts = (ContactList | orderBy:sortType:sortReverse))" ng-class="{selected: c.Id === SelectedContactId}" ng-click="loadCustomer(c.Id);">
                    <td>{{c.FullName}}</td>
                    <td class="ellipsisText">{{c.Email}}</td>
                    <td class="width-15">{{c.Phone}}</td>
                    <td class="width-15">{{c.Mobile}}</td>
                    <td class="width-15">{{c.Region}}</td>
                    <td class="width-15">{{c.Country}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="halfScreenContainer">
        <div class="form-horizontal" style="position:relative;">
            @*<div id="toggle" ng-click="showCustomerDetails = !showCustomerDetails">*@
        </div>
        <div class="informationLayer">
            <div id="accordion-2" class="col-md-12 contactInfo">
                <dl class="col-md-12">
                    <dt id="#GeneralInfo" ng-click="changeHash('GeneralInfo')">General Info</dt>
                    <dd>
                        @Html.Partial("~/Views/Contacts/Sections/_ContactDetails.cshtml")
                    </dd>
                    <dt id="#History" ng-click="changeHash('History')">Activity</dt>
                    <dd>
                        @Html.Partial("~/Views/Contacts/Sections/_ContactHistory.cshtml")
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="popupOverlay" ng-click="closeAllPopups();" ng-show="showOverlay">
    </div>
    <div ng-show="showAddRoles">
        @Html.Partial("~/Views/Contacts/Popups/_EditRoles.cshtml")
    </div>
    <div id="deleteContactScreenPopup" ng-show="showContactDeletePopup">
        @Html.Partial("~/Views/Contacts/Popups/_ContactDelete.cshtml")
    </div>
    <div ng-show="showAdvancedSearch">
        @Html.Partial("~/Views/Contacts/Popups/_AdvancedSearchFilter.cshtml")
    </div>
</div>

@section AddToHead {

    @*<link href="~/Content/mainpagecss" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/accordion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/BasicStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/Sections/ContactDetails.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/Sections/History.css" rel="stylesheet" type="text/css" />
    @*angular dependencies*@
    <script src="~/Scripts/mainpageangular"></script>
    <script src="~/Scripts/mainpagejquery"></script>
    <script src="~/Scripts/PageSpecific/Contacts/ngNewtonFactory.js"></script>
    <script src="~/Scripts/PageSpecific/Contacts/ngNewtonController.js"></script>
    <script src="~/Scripts/PageSpecific/Contacts/ChangeLoginButtons.js"></script>
}
