﻿.absoluteOverlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:lightblue;
    z-index:99;
}

#SelectedNotificationsDiv span, #AvailableNotificationsDiv span {
    cursor: pointer;
}

.blueText {
    color:#3b5998;
}

.lightblueText {
    color:#6497b1;
}

.table span::before {
    padding:5px 0;
}

button .glyphicons.glyphicons-plus:before {
    padding:8px 9px;
}

.biggerFontSize.glyphicons:before {
    padding:0;
    margin-left:3px;
}

.tdNoRecords {
    width: 100% !important;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.css-form .ng-valid-required.ng-dirty {
    border-color: #78FA89 !important;
}
.css-form .ng-invalid.ng-dirty, .css-form .ng-invalid-max.ng-dirty, .css-form .ng-invalid-min.ng-dirty {
    border-color: #FA787E !important;
}


.hideAbsoluteOverlay {
    display:none;
}

#searchField {
    float: right;
}

.floatLeftPanel {
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    width:100%;
}

.floatLeftHistoryPanel {
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}

.tutorial {
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 50px;
    position: relative;
    display: inline-block;
}

#searchHelp {
    margin-top: -3px;
    position: relative;
}

    #searchHelp:hover .searchToolTip {
        visibility: visible;
    }

.searchToolTip {
    visibility: hidden;
    position: fixed;
    top: 55px;
    right: 280px;
    z-index: 10000;
}

#tabsHelp {
    margin-top: -3px;
    position: relative;
}

    #tabsHelp:hover .tabsToolTip {
        visibility: visible;
    }

.tabsToolTip {
    visibility: hidden;
    position: fixed;
    top: 405px;
    right: 77px;
}

.ToolTipText {
    width: 120px;
    background-color: #3e69f6;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

    .ToolTipText::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #3e69f6 transparent transparent transparent;
    }

.tab-menu {
    width: 200px;
    display: inline-block;
    transform: rotate(270deg);
    font-size: 20px;
    background-color: aquamarine;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.tableHeader {
    background: #3b5998;
    color: #fff;
    cursor: pointer;
}

.tableRow {
    cursor: pointer;
}

#mainContactTable .tableHeader {
    padding-right:10px;
}

#mainContactTable .table {
    margin-bottom: 0;
}

#mainContactTable thead, #mainContactTable tbody, #mainContactTable tr, #mainContactTable td, #mainContactTable th {
    display: block;
}

#mainContactTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#mainContactTable thead th {
    height: 40px;
    border-bottom: none !important;
}

#mainContactTable tbody {
    position: fixed;
    width:98.8%;
    overflow-y: scroll;
    top: 95px;
    bottom: 380px;
}

#mainContactTable thead {
    border-bottom: none;
}


#mainContactTable tbody td, thead th {
    width: 20%;
    float: left;
}



.halfScreenContainer {
    display: inline;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding-top: 10px;
}

.popupOverlay {
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    bottom: 0px;
    right: 0;
    left: 0;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    padding: 10px;
    z-index: 12;
}

.section {
    -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
    height: 100%;
}

#roleContainer {
    height: 100%;
    overflow: auto;
}

#advancedSearchRoleContainer {
    height: 100%;
    overflow: auto;
    padding-top:10px;
}

#leftMenu {
    position: absolute;
    display: block;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 200px;
    background-color: #34495e;
    padding: 10px;
}

    #leftMenu li {
        line-height: 2em;
        background: #34495f;
        width: 100%;
        border-bottom: solid 1px white;
        cursor: pointer;
    }

.highlightMenuItem {
    background: green !important;
}

#rightContent {
    left: 200px;
    right: 0;
    height: 100%;
    position: absolute;
    padding: 10px;
    overflow: hidden;
}

#content {
    margin-bottom: 10px;
    position: absolute;
    display: block;
    top: 0px;
    left: 200px;
    right: 0;
    background-color: #34495f;
    box-shadow: 5px 5px 10px;
}

#toggle {
    float: right;
    position: relative;
    top: 10px;
    right: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 2px solid #ecf0f1;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 5px 20px #333333 inset;
    cursor: pointer;
    z-index: 4;
}

.selectedRole {
    background: #3b5998;
    color: white;
    cursor: pointer;
    border-right:none;
    border-left:none;
}

.leftRadiusZero {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

.rightRadiusZero {
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    margin-right:-1px;
}

.selected {
    background-color: #6497b1;
    color:white;
}

.availableRole {
    background: #6497b1;
    color: white;
    float: left;
    display: inline-block;
    cursor: pointer;
    border-right:none;
    border-left:none;
}

.hoverOn:hover {
    padding: 10px;
    color: blue;
}

.ellipsisText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width-40 {width:40% !important;}
.width-35 {width:35% !important;}
.width-30 {width:30% !important;}
.width-25 {width:25% !important}
.width-20 {width:20% !important;}
.width-12 {width:12% !important;}
.width-18 {width:18% !important;}
.width-17 {width:17% !important;}
.width-15 {width:15% !important;}
.width-14 {width:14% !important;}
.width-10 {width:10% !important;}
.width-5 {width:5% !important;}
.width-3 {width:3% !important;}

.itemDelete {
    position:absolute;
    background-color:#fff;
    top:30%;
    left:50%;
    padding:15px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 10px;
    align-content: center;
    z-index:13;
    border-radius: 10px;
    align-content: center;
    z-index:13;
}

.scrollbar-style::-webkit-scrollbar-track, 
{
	border-radius: 10px;
	background-color: #e2e2e2;
}

.scrollbar-style::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

.scrollbar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: lightgray;
}

.deleteButtons {
    padding:5px 0px; 
    margin:10px 0 0 0;
}

#advancedSearchWindow {
    position:fixed;
    top: 9px;
    right: 68px;
    max-width:800px;
    min-width:600px;
    width:60%;
    border-radius: 4px;
    border:1px solid #17233c;
    background-color:#FFF;
    z-index:13;
}

.biggerFontSize{
    font-size:1.6em;
}

.customerspecificRows {
    padding:13px 0 0 3px !important;
}

.customerspecificInputs {
    padding:8px 0 0 3px !important;
}

.addButtonStyling {
    float:right;
    height:34px;
    width:34px;
    align-content:center !important;
    margin-left:10px;
    padding:0;
}

.height-300 {
    height:300px;
    overflow:auto;
}

.width-200 {
    display: inline-flex;
    width: 200px;
}

.width-100proc {
    width:100%;
    display:inline-block;
}

.filterSelect {
    float: right;
    width: 70px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#btnCustomerInfo {
    left: 215px;
    position: absolute;
}