﻿.createWizardContainer {
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    bottom: 0px;
    right: 0;
    left: 0;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding: 10px;
    z-index: 10;
}

.hideCreateContainer {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding-top: 10px;
}

.createWizardWindow {
    padding: 30px;
    top: 5%;
    margin-left: 11%;
    position: fixed;
    width: 75%;
    background-color: #FFF;
    border-radius: 10px;
    align-content: center;
}