﻿@using Newton.Web.Security

<div class="login-info" style="padding: 10px 10px 0 10px;position: absolute;height:30px;width:300px;">
    <span>
        @if (Request.IsAuthenticated)
        {

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logOffForm" }))
            {
                @Html.AntiForgeryToken()

                <a href="javascript:document.getElementById('logoutForm').submit()" style="z-index:9;">
                    Log off
                </a>
            }

            <a>
                <span class="glyphicons glyphicons-user" style="margin-left:6px;margin-top: -3px;"></span>
                <span style="margin-left:10px">@HttpContext.Current.User.Identity.Name</span>
            </a>
        }
    </span>
</div>


