﻿#selectType {
    width:180px;
}

.editRolesWindow {
    padding: 30px;
    top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    position: fixed;
    width: 45%;
    background-color: #FFF;
    border-radius: 10px;
    align-content: center;
    z-index:13 !important;
}

.scrollableContainer300 {
    max-height: 300px;
    overflow: auto;
}

.availableRole, .selectedRole {
    display:inline-block;
    width:auto;
    padding-right:0px;
}

.plusAddon {
    padding:0;
    width:28px
}

.availableRole i:before, .selectedRole i:before {
   padding:10px 8px;
   display:none;
}

.availableRole:hover i::before, .selectedRole:hover i::before{
    display:block;
}

.roleDiv:hover i::before {
    display:block;
}

#btnAddRoles {
    height:34px;width:34px;align-content:center;margin-top: 0px;margin-left: 10px;
    position: absolute;
    right: 10px;
}

#advancedSearchBtnAddRoles {
    height:34px;width:34px;align-content:center;margin-top: 0px;margin-left: 10px;
    position: absolute;
    right: 10px;
}

#roleContainer .floatLeftPanel {
    padding-top:0;
}

#advancedSearchRoleContainer .floatLeftPanel {
    padding-top:0;
}

.bg-danger {
    background:#a94442 !important;
    border:#a94442 !important;
}

.margin-top--9px {
    margin-top:-9px;
}