﻿

.floatRightPanel {
    float: right;
}

#historyFilters {
    height: 80px;
}

#pnlHistory {
    position: absolute;
    display: inline;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom:0;
    padding-left: 0px !important;
}

#historySection {
    height:100%;
    width:100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.addCommentSection {
    width: 300px;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}



#addCommentButton {
    height:34px;
    width:34px;
    align-content:center;
    margin-left:10px;
    padding:0;
}

#addCommentInsideButton {
    float:right;
    margin-top:-34px;
}
#historyTable .table {
    position: absolute;
    display: inline;
    top: 5px;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom:0;
    padding-left: 0px !important;
}

#historyTable thead, #historyTable tbody, #historyTable tr, #historyTable td, #historyTable th {
    display: block;
}

#historyTable .tableHeader {
    padding:0 10px;
}

#historyTable tr {
    padding-left:10px;
}

#historyTable td {
    padding-left:0;
    padding-right:3px;
}

#historyTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#historyTable thead th {
    height: 40px;
    border-bottom: none !important;
    padding-left:0;
    padding-right:3px;
}

#historyTable tbody {
    height:100%;
    overflow-y: scroll;
}

#historyTable thead {
    border-bottom: none;
}


#historyTable tbody td, thead th {
    width: 20%;
    float: left;
}