﻿
#section1 .col-sm-6, #section1 .col-sm-12 {
    padding:0 3px;
}


#section1 h4, #section2 h4  {
    font-size:115%;
}

#notificationsMarketing input {
    margin-right:5px;
    margin-left:10px;
}

#notificationsMarketing .col-sm-9 {
    padding-left:12%;
}

#notificationsMarketing .col-sm-3 {
    padding-right:0;
}


#notificationsMarketing {
    max-width:679px;
}

#notificationsDiv .form-group {
    margin-bottom:10px;
}

#notificationsFooter {
    position:fixed;bottom:0px;right:116px;
}