﻿
.editReportingWindow {
    padding: 30px;
    top: 10%;
    left: 20%;
    position: fixed;
    width: 60%;
    background-color: #FFF;
    border-radius: 10px;
    align-content: center;
    z-index:13;
}

.deleteReportingItem {
    padding: 15px;
    top: 30%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    width: 30%;
    background-color: #FFF;
    border-radius: 10px;
    align-content: center;
    z-index:13;
}

.editReportSpinner {
    width:45px;
    height:25px;
    padding:2px 2px 2px 8px;
    display:inline-block;
}

.editBox {
    width:100%;
    max-width:none !important;
}

#availableList, #selectedList {
    height:150px;
    overflow-y:auto;
    border:1px solid gray;
}

.selectedColumn {
    color:white;
    background: #3b5998;
}

.topRadiusZero {
    border-top-left-radius:0;
    border-top-right-radius:0;
    border:1px solid gray;
}

.bottomRadiusZero {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border:1px solid gray;
}

.bottomButtonAddon i::before, .topButtonAddon i::before {
    padding:0;
}

.bottomButtonAddon {
    height:25px;
    border:1px solid gray;
    border-top:none;
}

.topButtonAddon {
    height:25px;
    border:1px solid gray;
    border-bottom:none;
}

#reportingTable thead, #reportingTable tbody, #reportingTable tr, #reportingTable td, #reportingTable th {
    display: block;
}

#reportingTable .tableHeader {
     padding-right:10px;
}

#reportingTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#reportingTable thead th {
    height: 40px;
    border-bottom: none !important;
}

#reportingTable tbody {
    height:100%;
    overflow-y:scroll;
}

#reportingTable thead {
    border-bottom: none;
}

#reportingTable tbody td, thead th {
    width: 20%;
    float: left;
}

.reportTypeInputlabel {
    float:left; 
    padding:5px 10px 5px 0;
}

.checkboxeslabel {
    float:left; 
    padding:5px 10px 5px 0; 
    text-align:right
}