/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */

.easy-accordion {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

    .easy-accordion dt, .easy-accordion dd {
        margin: 0;
        padding: 0;
    }

    .easy-accordion dt, .easy-accordion dd {
        position: absolute;
    }

    .easy-accordion dt {
        margin-bottom: 0;
        margin-left: 0;
        z-index: 3; /* Safari */
        -webkit-transform: rotate(-90deg); /* Firefox */
        -moz-transform: rotate(-90deg);
        -moz-transform-origin: 20px 0px; /* Internet Explorer */
        transform: rotate(-90deg);
        cursor: pointer;
    }

    .easy-accordion dd {
        z-index: 1;
        opacity: 0;
        overflow: hidden;
    }

        .easy-accordion dd.active {
            opacity: 1;
        }

        .easy-accordion dd.no-more-active {
            z-index: 2;
            opacity: 1;
        }

        .easy-accordion dd.active {
            z-index: 3;
        }

        .easy-accordion dd.plus {
            z-index: 4;
        }

    .easy-accordion .slide-number {
        position: absolute;
        bottom: 0;
        left: 10px;
        font-weight: normal;
        font-size: 1.1em; 
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        transform: rotate(90deg); /* Internet Explorer */
    }



/* FEEL FREE TO CUSTOMIZE THE FOLLOWING RULES */

dd p {
    line-height: 120%;
}

@media screen and (max-height: 800px) {
    #accordion-2 {
        width: 100%;
        height: 380px;
        padding: 5px;
        background: #fff;
    }
}

@media screen and (min-height: 801px) and (max-height: 1200px) {
    #accordion-2 {
        width: 100%;
        height:380px;
        padding: 5px;
        background: #fff;
    }
}

@media screen and (min-height: 1201px) {
    #accordion-2 {
        width: 100%;
        height: 380px;
        padding: 5px;
        background: #fff;
    }
}

    #accordion-2 h2 {
        font-size: 2.5em;
        margin-top: 10px;
    }

    #accordion-2 dl {
        width: 100%;
        height: 100%;
    }

    #accordion-2 dt {
        height: 25px;
        width: 50px;
        line-height: 25px;
        text-align: center;
        padding: 0px 0px 0px 30px;
        font-size: 1.1em;
        font-weight: bold;
        font-family: Tahoma, Geneva, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #dfe3ee;
        border-radius: 5px 5px 5px 5px;
        color: #26526c;
    }

        #accordion-2 dt.active {
            cursor: pointer;
            color: #fff;
            background-color: #3b5998;
            border-radius: 10px 10px 0 0;
        }

        #accordion-2 dt.hover {
            color: #68889b;
        }

        #accordion-2 dt.active.hover {
            color: #fff;
        }

    #accordion-2 dd {
        padding: 5px;
        border: 1px solid black;
        margin: 0 0px 0px 0px;
        word-wrap: break-word;
    }

    #accordion-2 a {
        color: #68889b;
    }

    #accordion-2 dd img {
        float: right;
        margin: 0 0 0 20px;
        position: relative;
        top: -20px;
    }
