﻿
body, ul {
    margin:0;
    padding:0;
    list-style-type: none;
    overflow:hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width:99% !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logOffForm {
    float:left !important;float: left !important; cursor: pointer; display: flex;
}

.no-margin{margin:0!important}.margin-top-5{margin-top:5px!important}.margin-top-10{margin-top:10px!important}.margin-bottom-5{margin-bottom:5px!important}