﻿#historyTypesAdminTable .tableHeader {
    padding-right:10px;
}

#historyTypesAdminTable .table {
    margin-bottom: 0;
}

#historyTypesAdminTable thead, #historyTypesAdminTable tbody, #historyTypesAdminTable tr, #historyTypesAdminTable td, #historyTypesAdminTable th {
    display: block;
}

#historyTypesAdminTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#historyTypesAdminTable thead th {
    height: 40px;
    border-bottom: none !important;
}

#historyTypesAdminTable tbody {
    position: fixed;
    width:98.3%;
    overflow-y: scroll;
    top: 106px;
    left: 10px;
}

#historyTypesAdminTable thead {
    border-bottom: none;
}


#historyTypesAdminTable tbody td, thead th {
    width: 20%;
    float: left;
}