﻿#historySubTypesAdminTable .tableHeader {
    padding-right:17px
}

#historySubTypesAdminTable .table {
    margin-bottom: 0;
}

#historySubTypesAdminTable thead, #historySubTypesAdminTable tbody, #historySubTypesAdminTable tr, #historySubTypesAdminTable td, #historySubTypesAdminTable th {
    display: block;
}

#historySubTypesAdminTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#historySubTypesAdminTable thead th {
    height: 40px;
    border-bottom: none !important;
}

#historySubTypesAdminTable tbody {
    position: fixed;
    width:99.2%;
    overflow-y: scroll;
    top: 99px;
}

#historySubTypesAdminTable thead {
    border-bottom: none;
}


#historySubTypesAdminTable tbody td, thead th {
    width: 20%;
    float: left;
}