﻿#rolesAdminTable .tableHeader {
    padding-right:10px;
}

#rolesAdminTable .table {
    margin-bottom: 0;
}

#rolesAdminTable thead, #rolesAdminTable tbody, #rolesAdminTable tr, #rolesAdminTable td, #rolesAdminTable th {
    display: block;
}

#rolesAdminTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#rolesAdminTable thead th {
    height: 40px;
    border-bottom: none !important;
}

#rolesAdminTable tbody {
    position: fixed;
    width:98.3%;
    overflow-y: scroll;
    top: 106px;
    left: 10px;
}

#rolesAdminTable thead {
    border-bottom: none;
}


#rolesAdminTable tbody td, thead th {
    width: 20%;
    float: left;
}