﻿.tab-menu {
    width: 200px;
    display: inline-block;
    transform: rotate(270deg);
    font-size: 20px;
    background-color: aquamarine;
}

.tableHeader {
    background: #222;
    color: #fff;
    cursor: pointer;
}

.tableRow {
    cursor: pointer;
}

.tableRowAlt {
    background-color: grey;
    cursor: pointer;
}

.halfScreenContainer {
    display: inline;
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    background: gray;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding-top: 10px;
}

.hideContainer {
    display: inline;
    position: fixed;
    bottom: -500px;
    right: 0;
    left: 0;
    background: gray;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding-top: 10px;
}

.section {
    -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
}

#leftMenu {
    position: absolute;
    display: block;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 200px;
    background-color: #34495e;
    padding: 10px;
}

    #leftMenu li {
        line-height: 2em;
        background: #34495f;
        width: 100%;
        border-bottom: solid 1px white;
        cursor: pointer;
    }

.highlightMenuItem {
    background: green !important;
}

#rightContent {
    left: 200px;
    right: 0;
    height: 100%;
    position: absolute;
    padding: 10px;
    overflow: hidden;
}

#content {
    margin-bottom: 10px;
    position: absolute;
    display: block;
    top: 0px;
    left: 200px;
    right: 0;
    background-color: #34495f;
    box-shadow: 5px 5px 10px;
}

#toggle {
    float: right;
    position: relative;
    top: -18px;
    right: 50%;
    width: 20px;
    height: 20px;
    background-color: #7f8c8d;
    border: 2px solid #ecf0f1;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 5px 20px #333333 inset;
    cursor: pointer;
}

@media screen and (max-height: 800px) {
    .informationLayer {
        height: 300px;
    }
}

@media screen and (min-height: 801px) and (max-height: 1200px) {
    .informationLayer {
        height: 450px;
    }
}

@media screen and (min-height: 1201px) {
    .informationLayer {
        height: 550px;
    }
}
